#team {
    max-width: 1200px;
    margin: 0 auto;

}

.info {
    color: blue;
}



#container {
    background-color: brown;
    display: none;
}

.card {}

h1 {
    text-align: center;
    font-size: 60px;
}